.aside {


  &__box {
    display: flex;
    justify-content: space-between;
    max-width: 158px;
    align-items: center;
    cursor: pointer;

    &_title {
      margin-top: 5px;
      color: var(--primary);
      font-size: 30px;
      font-weight: 700;
    }

    &_text {
      margin-top: 7px;
      color: var(--primary);
      font-size: 24px;
      font-weight: 200;
    }
  }

  &__input {
    margin-top: 20px;
    position: relative;
    max-width: 230px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);

    &_spn {
    position: absolute;
      cursor: pointer;
      top: 5px;
      right: 15px;
      display: block;
      padding: 6px;
      border-radius: 5px;
      background: #7653FC;
  }
  }
}

.nav {
  margin-top: 29px;

  &__item {
    max-width: 125px;
    &_list {
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0px;
      }
      &_courses {
        margin-left: 44px;

        li {
          margin-bottom: 13px;
          color: #787D85;
          font-size: 14px;
          font-weight: 600;
          transition: all .3s;
          cursor: pointer;
          &:hover {
            color: var(--primary)
          }

          &:last-child {
            margin-bottom: 0px;
          }
        }

        h3 {
          margin-bottom: 13px;
          color: #787D85;
          font-size: 12px;
          font-weight: 300;
          cursor: pointer;
          transition: all .3s;
          &:hover {
          color: rgba(193, 193, 194, 0.9);
          }
        }
      }
  }

    &_container {
      display: flex;
      gap: 20px;
      align-items: center;
      &_spn {
        background-image: url("/graduation-hat.svg");
        display: block;
        height: 24px;
        width: 24px;
      }
      &_title {
        color: #7653FC;
        font-size: 18px;
        font-weight: 600;
      }
    }
  }
}