.footer {
  background: #7653FC;

  &__text {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    transition: all .3s;
    &:hover {
        opacity: .7;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 27px 32px 23px
  }

  &__box {
    display: flex;
    gap: 40px;

    a {
      color: #FFF;
      font-size: 16px;
      font-weight: 500;
      transition: all .3s;
      &:hover {
        opacity: .7;
      }
    }
  }
}