.wrapper {
  display: grid;
  grid-template-columns: auto 230px minmax(320px, 1200px) auto;
  min-height: 100vh;
  gap: 32px;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
  ". header header ."
  ". aside body ."
  "footer footer footer footer";

  @media (max-width: 765px) {
    grid-template-columns: minmax(320px, 1fr);
    grid-template-areas:
  "header"
  "body"
  "footer";
  };


  &__header {
    grid-area: header;
    display: none;

    @media (max-width: 765px) {
      display: block;
    }
  }

  &__aside {
    grid-area: aside;

    @media (max-width: 765px) {
      display: none;
    }
  }

  &__body {
    grid-area: body;
  }

  &__footer {
    grid-area: footer;
  }

}