.sort{
  display: flex;
  align-items: center;
  gap: 43px;

  &__image {
    display: none;
  }

  &__active {
    display: block;
    margin-right: 8px;
  }

  &__visible {
    display: block;
    margin-right: 8px;
  }


  &__box {
    display: flex;
    align-items: center;
    gap: 8px;

    &_dis {
      display: none;
    }

    &_active {
      display: block;
    }
  }
}