.nav {
  margin-top: 29px;

  &__item {
    max-width: 125px;
    &_list {
      border-left: 1px solid #DFDFDF;
      position: relative;
      &:before {
        position: absolute;
        top: 0;
        left: 10px;
        content: "";
        min-height: 100%;
        width: 1px;
        background-color: #DFDFDF;
      }


      &_courses {
        margin-top: 22px;
        margin-left: 44px;

        li {
          margin-bottom: 13px;
          color: #787D85;
          font-size: 14px;
          font-weight: 600;
          transition: all .3s;
          cursor: pointer;
          &:hover {
            color: var(--primary)
          }

          &:last-child {
            margin-bottom: 0px;
          }
        }

        h3 {
          margin-bottom: 10px;
          color: #787D85;
          font-size: 12px;
          font-weight: 300;
          cursor: pointer;
          transition: all .3s;
          &:hover {
            color: rgba(193, 193, 194, 0.9);
          }
        }
      }
    }

    &_container {
      display: flex;
      gap: 20px;
      align-items: center;
      &_spn {
        background-image: url("/graduation-hat.svg");
        display: block;
        height: 24px;
        width: 24px;
      }
      &_title {
        color: #7653FC;
        font-size: 18px;
        font-weight: 600;
      }
    }
  }
}