.advantages {
  margin-top: 47px;

  &__list {
    margin-top: 40px;


    &_item {
    margin-bottom: 41px;


      &_title {
        display: flex;
        align-items: center;
        gap: 40px;
      }


      &_descr {
        margin-top: 20px;
        position: relative;
        padding-left: 90px;
       &::after {
         position: absolute;
         content: "";
         width: 1px;
         top: 0;
         left: 22px;
         height: 100%;
         background: #D2D2D2;
       }
      }
    }
  }
}