.search {
	position: relative;
	margin-top: 20px;

	&__span {
		z-index: 100;
		display: flex;
		justify-content: center;
		cursor: pointer;
		position: absolute;
		top: 5px;
		right: 31px;
		width: 30px;
		height: 30px;
		padding: 8px;
		background: var(--primary);
		border-radius: 5px;
		transition: all .3s;
		&:hover {
			background: var(--primary-hover);
		}

		&:active {
			transform: translateY(-3px);
		}
	}
}
